.input-search {
    width: 85%;
    display: inline-block;
}

.btn-add {
    margin-left: 5px;
    background: #fff;
    color: #002FA1;
    border: 1px solid #002FA1;
    border-radius: 5px;
    font-size: 18px;
}

.cursor-pointer {
    cursor: pointer;
}