.input-search {
    width: 85%;
    display: inline-block;
}

.btn-add {
    margin-left: 5px;
    border-radius: 5px;
    font-size: 18px;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-remove-task {
    text-decoration: none;
    color: black;
    cursor: pointer;
}